<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivajayanti.abhishek.shivajayanti_dbatu_2k18">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shivajayanti.abhishek.shivajayanti_dbatu_2k18.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.shivajayanti.abhishek.shivajayanti_dbatu_2k18.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".jyot" />
        <activity android:name=".quizhome" />
        <activity android:name=".pradarshan" />
        <activity android:name=".mardanikhel" />
        <activity android:name=".jallosh" />
        <activity android:name=".about" />
        <activity android:name=".question" />
        <activity android:name=".resultactivity" />
        <activity android:name=".developers" />

    </application>

</manifest>